<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="css/small-business.css" rel="stylesheet">
    <link href="css/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/star-rating.min.css" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

        <!-- Navigation -->
            <nav class="navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
      
		<a class="" href="#">
                    <img src="img/logo.jpg" class="img-responsive logosize" alt="Brand">
                </a>
             
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
		    <li>
                        <a href="#">FAQ</a>
                    </li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	
    <!-- Page Content -->
   <div class="container myfont" >
       <div class="row" style="height:30px"></div>
<div class="row">
      <div class="col-md-4">

           <div class="col-md-10">
	       <div class="list-group myfont">
                   <a id="dashboardm" href="#sell" class="list-group-item text-center"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
                   <a id="message" href="#" class="list-group-item text-center"><i class="glyphicon glyphicon-envelope"></i> Messages</a>
                   <a id="sellm" href="#" class="list-group-item text-center"><i class="glyphicon glyphicon-qrcode"></i> Sell Books</a>
                   <a id="buym" href="#" class="list-group-item text-center"><i class="glyphicon glyphicon-barcode"></i> Buy Books</a>
                   <a id="alertm" href="#" class="list-group-item text-center"><i class="glyphicon glyphicon-exclamation-sign"></i> Alerts</a>
               </div>

           </div>
      </div>



<div class="col-md-4">


<form role="form">

  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="password" class="form-control uneditable-input" id="exampleInputPassword1" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Author</label>
    <input type="password" class="form-control uneditable-input" id="exampleInputPassword1" placeholder="Author">
  </div>
 <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="password" class="form-control uneditable-input" id="exampleInputPassword1" placeholder="Price">
  </div>
 <div class="form-group">
    <label for="exampleInputPassword1">Condition</label>
    <input id="input-id" type="number" class="rating form-control" type=" number" min=0 max=5 step=0.5 data-size="xs" data-star-captions="{}" data-show-caption="false" data-show-clear="false">
  </div>
  


   <div class="col-md-4"></div>
  <button type="submit" class="btn btn-lg btn-success">Contact Seller</button>
</form>
</div>

<div class="col-md-4">
<div class="row" style="height:100px"></div>
<div class="col-md-1"></div>
                <img src="img/book.jpg" class="thumbnail">
</div>
<!--
       <form class="form-horizontal" role="form">
           <div class="form-group myfont">
              <div class="">
                  <label class="col-sm-4 control-label">ISBN #</label>
                  <div class="input-group col-md-6">
                      <input type="text" class="form-control" placeholder="enter ISBN">
                      <span class="input-group-btn">
                          <button class="btn btn-success" type="button">Lookup!</button>
                      </span>
                  </div>
            </div>

            <div class="">
                <label class="col-sm-3 control-label">Title</label>
                <div class="">
                    <p class="form-control-static">email@example.com</p>
                </div>
            </div>

            <div class="">
                <label class="col-sm-3 control-label">Author</label>
                <div class="">
                    <p class="form-control-static">Amir</p>
                </div>
            </div>

            <div class="">
                <label class="col-sm-3 control-label">Price</label>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" placeholder="enter the price in $">
                </div>
            </div>

            <div class="row" style="height:10px;"></div>
            <div class="">
                <label class="col-sm-3 control-label">Condition</label>
                <div class="">
                    <input id="input-id" type="number" class="rating form-control" type=" number" min=0 max=5 step=0.5 data-size="xs" data-star-captions="{}" data-show-caption="false" data-show-clear="false">
                </div>
            </div>

            <div class="row" style="height:10px;"></div>
            <div class="">
                <div class="col-md-3"></div>
                <img src="img/kittens.jpg" class="thumbnail">
            </div>

            <div class="">
      <div class="col-md-3">
        
            </div>
                <button type="button" class="btn btn-success">submit</button>
          
    </div>


</form> 
-->


</div>
   </div> <!--container>

     

<!--
 <div class="table-responsive">
	<table id="table-pagination" class="table table-striped" data-url="data2.json" data-height="400" data-width="100" data-pagination="true" data-search="true" style="border:1px solid red">
          
      </table>
</div>
      <button id="via-javascript-table">Start Example</button>

    -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script src="js/star-rating.min.js"></script>
<script>
    $(function () {
        $('#via-javascript-table').click(function () {
            $(this).hide();

            $('#table-pagination').bootstrapTable({
                method: 'get',
                url: 'data2.json',
                cache: false,
                height: 400,
		width:1000,
                striped: true,
                pagination: true,
                pageSize: 50,
                pageList: [10, 25, 50, 100, 200],
                search: true,
                showColumns: true,
                showRefresh: true,
                minimumCountColumns: 2,
                clickToSelect: true,
                columns: [{
                    field: 'state',
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'Item ID',
                    align: 'center',
                    valign: 'bottom',
                    sortable: false
                }, {
                    field: 'name',
                    title: 'Item Name',
                    align: 'center',
                    valign: 'middle',
                    sortable: false,
                    //formatter: nameFormatter
                }, {
                    field: 'price',
                    title: 'Item Price',
                    align: 'center',
                    valign: 'top',
                    sortable: false,
                    //formatter: priceFormatter,
                    //sorter: priceSorter
                }/*, {
                    field: 'operate',
                    title: 'Item Operate',
                    align: 'center',
                    valign: 'middle',
                    clickToSelect: false,
                    formatter: operateFormatter,
                    events: operateEvents
                }*/]
            });
        });
    });
</script>
<script>

    $(document).ready(function() {
	$("#input-id").rating();
	$("#forgotlink").on('click',function(e){
		bootbox.prompt("What is your email?", function(result) {

}); 		 


         });
	

});
</script>

</body>

</html>
